

/* ===== SLIDER BASE ===== */

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Track */
.slide-track {
  display: flex;
  width: calc(60px * 8); /* 8 images total */
  animation: scroll 20s linear infinite;
}



